@import url(https://fonts.googleapis.com/css?family=Ubuntu:700|Economica:700|);

/*
elementsJS.io Custom 404.css =>>>>
*/

html {
  background-color: #39175E;
  color: #52218A;
  font-family: economica, jura, maven pro, orbitron, rubik, philosopher, permanent marker;
}

body {
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
h1 span {
  color:  #9d2635;
}

input {
  outline: 0;
  outline-style: none;
  /*outline-color:  #FF8A22;*/

}

/*
==============================404 Page Styles========>>>>
*/
#_404_content {
  position: relative;
  top: 130px;
}

#_404 {
  /*position: relative;*/
  color: #FF8A22;
  font-size: 362px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow: 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A;

}

#message {

  color: #FF8A22;
  font-size: 34px;
  text-shadow: 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A;
  bottom: 100px;
}


/*
==============================Code Terminal Styles========>>>>
*/

#codeShader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*height: 100%;
  width: 100%;*/
  background-color: #000;
  opacity: 0.8;
  z-index: 9;
}

#codeTerminal {
  position: relative;
  top: -360px;
  z-index: 10;
}

.unaryInput {
  height: 80px;
  width: 80px;
  border: 1px solid #cda6ec;
  border-radius: 50%;
  background-color: transparent;
  color: #FF8A22;
  margin-right: 15px;
  font-size: 100px;
  text-align: center;
  opacity: 1;
}





/*
==============================Test Logo Styles========>>>>
*/
#logo {
  font-family: helvetica neue;
  position: absolute;
  top: 50px;
  right: 70px;
  height: 60px;
  width: 60px;
  border-radius: 7px;
  font-size: 32px;
  text-align: center;
  color: #39175E;
}
#logo:hover {
  color: #52218A;
  border: 3px solid #52218A;
  transition-delay:  1s;
  transition-duration: 5s;
}
/*#logo:hover > #nav-logo {
  border: 3px solid #52218A;

}*/
#nav-logo:active {
  /*text-shadow: 0 0 0.2em #cda6ec, 0 0 0.2em #cda6ec, 0 0 0.2em #cda6ec, 0 0 0.2em #cda6ec;*/
  box-shadow: 0 0 0.2em #cda6ec, 0 0 0.2em #cda6ec, 0 0 0.2em #cda6ec, 0 0 0.2em #cda6ec;
}
#nav-logo:active > #el-txt{
  text-shadow: 0 0 0.2em #cda6ec, 0 0 0.2em #cda6ec, 0 0 0.2em #cda6ec, 0 0 0.2em #cda6ec;
}


#nav-logo {
  position: absolute;
  height: 60px;
  width: 60px;
  /*border: 3px solid #39175E;*/
  border-radius: 7px;
  /*font-family: ;*/
  font-size: 32px;
  text-align: center;
}

#el-txt {
  position: absolute;
  font-size: 40px;
  top: 0px;
  left: 12px;
}

#logo-ptxt {
  position: absolute;
  bottom: 0px;
  left: 7px;
  font-size: 9px;
  /*font-weight: 200;*/
  text-align: center;
}

#logo-hsh {
  position: absolute;
  top: -14px;
  left: 4px;
  font-size: 14px;
}

#logo-px {
  position: absolute;
  bottom: -4px;
  left: 3px;
  font-size: 6px;
}




/*
==============================TEST Page Styles========>>>>
*/
#mocha-stats em {
  color: white;
}
#mocha-stats li canvas {
  color: white;
}

.replay a {
  color: #cda6ec;
}

#mocha {
  text-align: justify;
  color: #FF8A22;
}

#mocha-stats  {
  color: #9d2635;
}



#delCookie {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 1px solid #cda6ec;
  border-radius: 50%;
  background-color: transparent;
  right: 100px;
  bottom: 100px;
}
#delCookie:hover {
  border: 1px solid #fff;

}

#delCookie:active {
  border: 1px solid #9d2635;

}

#nope {
  color: #9d2635;
  font-size: 88px;
  margin: auto;
  z-index: 101;
  left: 567px;
  /*left: 640px;*/
  top: 470px;
  font-family: economica;
}

#circle {
  height: 185px;
  width: 185px;
  border: 22px solid #9d2635;
  border-radius: 50%;
  z-index: 100;
  left: 525px;
  /*left: 598px;*/
  top: 252px;
}

.noShadow {
  text-shadow: none;
}
.progress {
  color: #fff;
}
/*
.shadowFlash {
  text-shadow: 0 0 0.2em #FF8A22, 0 0 0.2em #FF8A22, 0 0 0.2em #FF8A22, 0 0 0.2em #FF8A22, 0 0 0.2em #FF8A22, 0 0 0.2em #FF8A22, 0 0 0.2em #FF8A22, 0 0 0.2em #FF8A22;
  box-shadow: 0 0 0.2em #FF8A22, 0 0 0.2em #FF8A22, 0 0 0.2em #FF8A22, 0 0 0.2em #FF8A22, 0 0 0.2em #FF8A22, 0 0 0.2em #FF8A22, 0 0 0.2em #FF8A22, 0 0 0.2em #52218A;

}*/
