
/*
elementsJS.io Custom 404.css =>>>>
*/

html {
  background-color: #39175E;
  color: #52218A;
}

body {
  text-align: center;
  vertical-align: middle;
  padding: 100px 0px 200px 0px;
}
h1 span {
  color:  #9d2635;
}

#_404 {
  color: #FF8A22;
  font-size: 322px;
  margin-bottom: 20px;
  margin-top: 20px;

}

#message {
  font-size: 28px;
}
