@import url(https://fonts.googleapis.com/css?family=Ubuntu:700|Poiret+One|Exo+2:900|Quicksand:700|Maven+Pro:900|Orbitron:500|Rubik:500|Economica:700|Philosopher:700|Permanent+Marker|Rock+Salt|Jura:600|Voltaire|Special+Elite|Gochi+Hand|Just+Another+Hand|Homemade+Apple|Homenaje|Nixie+One|Fredericka+the+Great|Cabin+Sketch:700|Chelsea+Market|Monoton|Baumans|Prosto+One|Happy+Monkey|Aladin|NTR|Ruslan+Display|Amarante|Raleway+Dots|Henny+Penny|Monofett|Sonsie+One|Mystery+Quest|Akronim|Londrina+Shadow|Warnes|Londrina+Sketch|Atomic+Age|Original+Surfer|Fascinate|Modak);
@import url(https://fonts.googleapis.com/css?family=Poiret+One|Cabin:500|Josefin+Sans:600|Righteous|Comfortaa:700|Gloria+Hallelujah|Source+Code+Pro:500|Satisfy|Covered+By+Your+Grace|Audiowide|Viga|Boogaloo|Damion|Coda|Doppio+One|Nothing+You+Could+Do|Limelight|Sacramento|Montserrat+Alternates|Annie+Use+Your+Telescope|Aclonica|Lemon|Berkshire+Swash|Carter+One|Yesteryear|Timmana|Sue+Ellen+Francisco|Capriola|Baumans|Prosto+One|Skranji|Oleo+Script+Swash+Caps|Rationale|Balthazar|Seaweed+Script|Life+Savers|Griffy|Sail|Kristi|Maiden+Orange|Codystar|Galindo|Tulpen+One|Jolly+Lodger|Krona+One|Ribeye|Ranchers|Rum+Raisin|Fascinate+Inline|Molle:400italic|Spirax);*/

/*
Fonts I like for the logo.

baumans, righteous, kristi, tulpen one, ranchers, molle, fascinate,
josefin sans, comfortaa, satisfy, covered by your grace, audiowide, damion,
nothing you could do, montserrat alternates, annie use your telescope,
aclonica, berkshire swash, sue ellen francisco, life savers, galindo,

molle, fascinate, damion, montserrat alternates, aclonica, sue ellen francisco, galindo,

baumans, righteous, kristi, tulpen one, ranchers, josefin sans, comfortaa,
audiowide, nothing you could do, annie use your telescope, berkshire swash,
life savers, ribeye;

audiowide, baumans, righteous, tulpen one, ranchers, josefin sans, comfortaa,
nothing you could do, annie use your telescope, berkshire swash, life savers,

kristi,
*/


/*--------------------------Tag Stylings----------------- */

html, body {
  background-color: #39175E;
}

#body {
  background-color: #39175E;

}

hr {
  border: 1px solid #52218A;
}

svg {
  max-height: 80px;
  max-width: 80px;
}

path {
  position: absolute;
  left: 0;
}

a {
  padding-top: 25px;
  padding-bottom: 25px;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  outline: 0;
  outline-style: none;
  -moz-outline-style: none;
}

i {
  padding-left: 20px;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
  /*background-color: #cda6ec;*/
}



h2, h1 {
  font-family: josefin sans, helvetica neue;
  font-weight: 500;
  color: #52218A;
}

#docsMain h2, #docsMain  h1 {
  /*display: inline-block;*/
  margin-right: 15px;
  margin-bottom: 20px;
}

h4, h3 {
  font-family: josefin sans, helvetica neue;
  font-weight: 500;
  color: #52218A;
}

p, ul {
  font-family: helvetica neue;
  font-weight: 300;
  color: #52218A;
}

ul {
  list-style: none;
  text-align: right;
}

#docsMain ul {
  text-align: inherit;
}



ul > li > a {
  padding: 0;
}

pre {
  border: none;
  padding: 0px;

}

pre code {
    border: 1px solid #52218A;
    border-radius: 3px;
}
pre code:hover {
    border: 1px solid #FF8A22;
}


code {
  font-family: inconsolata, bpmono;
  border-radius: 5px;
  color: #9d2635;
}

#docsMenu-container h1 a code {
  border: 1px solid #FF8A22;
  background-color: #39175E;
  color: #FF8A22;
  border-radius: 25px;
  font-weight: 100;
  padding: 7px 15px 7px 15px;
}

#docsMenu-container h2 a code {
  border: 1px solid #FF8A22;
  background-color: #39175E;
  color: #52218A;
  border-radius: 25px;
  font-weight: 100;
  padding: 7px 15px 7px 15px;
}
#docsMenu-container h2 a code:hover {
  border: 1px solid #FF8A22;
  background-color: #52218A;
  color: #fff;
  border-radius: 25px;
  font-weight: 100;
  padding: 7px 15px 7px 15px;
}
#docsMenu-container h2 code:hover {
  border: 1px solid #FF8A22;
  background-color: #52218A;
  color: #fff;
  border-radius: 25px;
  font-weight: 100;
  padding: 7px 15px 7px 15px;
}



#docsMenu-container p code,
#docsMenu-container li code {
  background-color: #39175E;
  border: 1px solid #52218A;
  color: #9d2635;
  border-radius: 25px;
}


#docsMenu-container h2 code {
  border: 1px solid #FF8A22;
  background-color: #39175E;
  color: #52218A;
  border-radius: 25px;
  font-weight: 100;
  padding: 7px 15px 7px 15px;
}
#sideNav code {
  color: #52218A;
  background-color: #39175E;
  border: 1px solid #FF8A22;
  border-radius: 15px;
}

#sideNav li a code  {
  color: #52218A;
  background-color: #39175E;
  border: 1px solid #FF8A22;
  border-radius: 15px;
}

#docsMain p:hover,
#docsMain li:hover,
#docsMain h1:hover,
#docsMain h2:hover,
#docsMain h3:hover,
#docsMain h4:hover,
#docsMain a:hover {
  color: #FF8A22;
}

#docsMain p a:hover {
  color: #9d2635;
}
#docsMain li a:hover {
  color: #9d2635;
}


#docsMain h1 {
  background-color: #39175E;
  color: #FF8A22;
  padding: 15px 20px 15px 10px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #FF8A22;
  text-shadow: 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;
  max-height: 78px;
}


h1 a {
  color: #FF8A22;
  padding-bottom: 20px;
  text-decoration: none;
  outline: 0;
}
h1 a:link {
  color: #FF8A22;
  text-decoration: none;
}
h1 a:hover {
  color: #FF8A22;
  text-decoration: none;
}

h1 a:active {
  color: #FF8A22;
  text-decoration: none;
}

h1 a:visited {
  color: #FF8A22;
  text-decoration: none;
}
h2 a {
  color: #52218A;
  text-decoration: none;
  outline: 0;
}
h2 a:link {
  color: #52218A;
  text-decoration: none;
}
h2 a:hover {
  color: #52218A;
  text-decoration: none;
}
h2 a:active {
  color: #52218A;
  text-decoration: none;
}
h2 a:visited {
  color: #52218A;
  text-decoration: none;
}


/*--------------------------NavBar Styles--------------------*/

#navbar {
  font-family: josefin sans;
  background-color: #52218A;
  border: none;
}

#navbar li {
  font-family: josefin sans;
}

#navbar2 {
  position: absolute;
  right: 60px;
  background-color: #52218A;

}
#navbar3 {
  background-color: #52218A;
  width: 1000px;
}

#nav-menu > li > a {
  color: #FF8A22;
}

#nav-menu > li > a:hover,
#nav-menu > li > a:focus {
  color: #ffc960;
}


.dropdown-menu > li > a {
  color: #FF8A22;
}

.dropdown-menu > li > a:hover {
  color: #52218A;
  background-color: #FF8A22;
}

#dropd {
  color: #FF8A22;
}

#dropd:focus,
#dropd:hover {
  color: #ffc960;
}
#dropd:active,
#dropd:focus {
  background-color: #39175E;
}


/*----NavBar Logo Styles -----*/


#logo-text {
  font-family: josefin sans, helvetica neue;
  font-weight: 600;
  font-size: 112px;
  color: #FF8A22;
  text-align: center;
  margin-bottom: 55px;
  text-shadow: 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A;
}

#r-brack {
  position: relative;
  color: #9d2635;
  top: -7px;
  left: -45px;
  font-weight: bold;

}
#l-brack {
  position: relative;
  color: #9d2635;
  top: -7px;
  right: -18px;
  font-weight: bold;
}
.slsh {
  position: relative;
  color: #9d2635;
  left: -25px;
  font-weight: bold;
}



/*----------------------Jumbotron-------------------------*/

.jumbotron {
  top: 0;
  background-color: #39175E;
  margin-bottom: 20px;
  padding-top: 130px;
}

#desc {
  font-family: helvetica neue
  font-weight: 200;
  color: #FF8A22;
}

.btn {
  font-family: helvetica neue;
  font-weight: 200;
  background-color: #52218A;
  color: #FF8A22;
  border: none;
}
.btn:hover {
  background-color: #FF8A22;
  color: #52218A;
  border: none;
}
.btn:active {
  background-color: #fff;
  color: #52218A;
  box-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff;

}

#forkMe p {
  width: 100%;
  vertical-align: middle;
  border-top: 1px dashed #FF8A22;
  border-bottom: 1px dashed #FF8A22;
  padding: 3px 160px 3px 70px;
  margin: 0px;
  color: #FF8A22;
  text-shadow: -1px -1px 0 #39175E, 1px -1px 0 #39175E, -1px 1px 0 #39175E, 1px 1px 0 #39175E;
  /*text-shadow: -2px -2px 0 #39175E, 2px -2px 0 #39175E, -2px 2px 0 #39175E, 2px 2px 0 #39175E;
  text-shadow: -0.5px -0.5px 0 #39175E, 0.5px -0.5px 0 #39175E, -0.5px 0.5px 0 #39175E, 0.5px 0.5px 0 #39175E;*/
  font: 200 14px ranchers, molle, fascinate, josefin sans, comfortaa, satisfy, covered by your grace, audiowide, damion, nothing you could do, montserrat alternates, annie use your telescope, aclonica, berkshire swash, sue ellen francisco, life savers, galindo;
}

#forkMe {
  background-color: #52218A;
  padding: 3px 0px 3px 0px;
  position: absolute;
  left: -70px;
  top: 80px;
  transform: rotate(-45deg);
}

#hide {
  display: none;
}

iframe {
  padding-right: 5px;
  float: right;

}
#gthbFollow {
  vertical-align: middle;
}
.gthbBtn {
  border: 1px solid #FF8A22;
  border-radius: 7px;
  display: inline-block;
  padding: 5px 10px 9px 9px;
  /*margin-top: 50px;*/
  margin-right: 20px;
  float: right;
}

.gthbBtn:hover > #starSVG {
  fill: #52218A;
}
.gthbBtn:hover > #followSVG {
  fill: #52218A;
}
.gthbBtn:hover > #watchSVG {
  fill: #52218A;
}

#gthbFollow:active {
  background-color: white;
  color: #52218A;
}
#gthbWatch:active {
  background-color: white;
  color: #52218A;
}
#gthbStar:active {
  background-color: white;
  color: #52218A;
}
#gthbFollow:focus {
  background-color: #52218A;
  color: #FF8A22;
  border: 1px solid #FF8A22;
  outline: 0;
  outline-style: none;
  -moz-outline-style: none;
}
#gthbWatch:focus {
  background-color: #52218A;
  color: #FF8A22;
  border: 1px solid #FF8A22;
  outline: 0;
  outline-style: none;
  -moz-outline-style: none;
}
#gthbStar:focus {
  background-color: #52218A;
  color: #FF8A22;
  border: 1px solid #FF8A22;
  outline: 0;
  outline-style: none;
  -moz-outline-style: none;
}
#gthbFollow:focus > #followSVG {
  fill: #FF8A22;
}
#gthbWatch:focus > #watchSVG {
  fill: #FF8A22;
}
#gthbStar:focus > #starSVG {
  fill: #FF8A22;
}


#followSVG {
  position: relative;
  height: 22px;
  width: 22px;
  top: 4px;
  fill: #FF8A22;;
}

#watchSVG {
  position: relative;
  height: 22px;
  width: 22px;
  top: 4px;
  fill: #FF8A22;;
}

#starSVG {
  position: relative;
  height: 22px;
  width: 22px;
  top: 4px;
  fill: #FF8A22;
}

#api-butn:active {
  color: #52218A;
  background-color: white;
}

/*----Jumbotron Main Logo----*/

#nav-logo {
  position: absolute;;
  top: 5px;
  left: 30px;
  height: 60px;
  width: 60px;
  border: 3px solid #39175E;
  border-radius: 7px;
  font-family: ;
  font-size: 32px;
  text-align: center;
  color: #39175E;
}
#el-txt {
  position: absolute;
  top: 14px;
  left: 13px;
}
#nav-logo-ptxt {
  position: absolute;
  bottom: -8px;
  left: 6px;
  font-size: 9px;
  font-weight: 200;
  text-align: center;
  color: #FF8A22;
}
#nav-logo-hsh {
  position: absolute;
  top: -3px;
  left: 4px;
  font-size: 14px;
  color: #cda6ec;
}
#nav-logo-px {
  position: absolute;
  bottom: -16px;
  left: 3px;
  font-size: 6px;
  color: #cda6ec;
}

#content {
  background-color: #39175E;
}



/*----------------------npm -----------------------------*/

#npm-bar {
  padding-top: 35px;
  padding-bottom: 35px;
  right: 0;
  left: 0;
  background-color: #FF8A22;
  overflow: hidden;
  display: none;
}

#npm-code {
  display: inline;
  padding: 15px 70px 15px 10px;
  color: #FF8A22;
  /*width: 80px;*/
  background-color: #39175E;
  font-family: BPmono, monaco, osaka;
  box-shadow: 0 0 0.1em #9d2635, 0 0 0.1em #9d2635, 0 0 0.1em #9d2635, 0 0 0.1em #9d2635;
}

#_npm {
  color: #fff;
}

#elementsJS {
  color: #9d2635;
  text-shadow: 0 0 0.03em #FF8A22;
}

/*-----------------------Articles-------------------------*/

#npm {
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  bottom: 30px;
}

#install-info {
  /*position: relative;*/
  top: -10px;
  margin-top: 0px;
}
#install-info:active {
  background-color: #39175E;
  color: #FF8A22;
}

#bower {
  height: 80px;
  width: 80px;
  position: relative;

}
#nodejs {
  margin-right: 10px;
  margin-bottom: 0px;
}

#desc1 {
  margin-bottom: 0px;
}
#img {
  border-radius: 7px;
  margin-bottom: 10px;
}

#cdn-code {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
#cdn {
  background-color: #39175E;
  /*color: #52218A;*/
  left: 0;
  font-family: bpmono;
  font-size: 10px;
  padding-top: 0px;
  padding-bottom: 0px;

}

#preCode {
  background-color: #52218A;
  border-radius: 6px;
  /*padding-bottom: 10px;*/
}

/*#editor1 {
  border: 1px solid #52218A;
  height: 160px;
  width: 280px;
  border-radius: 7px;
  font-family: bpmono, source code pro, hack, monaco;
  margin-bottom: 5px;
}*/

.col-md-4:hover > h2,
.col-md-4:hover > h4,
.col-md-4:hover > ul li,
.col-md-4:hover > p {
  color: #FF8A22;
}

#editor {
  font-family: bpmono, source code pro, hack, monaco;
  font-size: 12px;
  background-color: #39175E;
  border: 1px solid #52218A;
  border-radius: 7px;
  color: white;
}


/*-----------------------Documentation--------------------*/

.stick {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 20px;
}

.wrapper {
  width: 100%;
  top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 200px;
}

#docsMenu-container li {
  color: #52218A;
}

#sideNav {
  padding-top: 55px;
  text-wrap: none;
  text-overflow: clip;
  font-family: josefin sans;
}

#sideNav li {
  font-size: 17px;
}

#sideNav a  {
  text-wrap: none;
  color: #52218A;
}



#sideNav a:hover {
  font-weight: bolder;
  color: #FF8A22;

}
#sideNav a:active {
  display: block;
  font-weight: bolder;
  text-decoration: none;
  color: #FF8A22;
  /*border: 1px solid #52218A;*/
  /*border-radius: 12px;*/
  /*padding: 0px 4px 0px 4px;*/

}
#sideNav a:focus {
  display: block;
  font-weight: bolder;
  text-decoration: none;
  color: #FF8A22;
  /*border: 1px solid #52218A;*/
  /*border-radius: 12px;*/
  /*padding: 0px 4px 0px 4px;*/
}
#sideNav li a:hover {
  color: #FF8A22;
}

#sideNav li ul li {
  font-size: 12px;
  /*margin-right: 10px;*/
  padding-right: 10px;
  /*margin-top: 1px;
  margin-bottom: 1px;*/
}

#sideNav li ul li a:hover > code {
  color: #fff;
  background-color: #52218A;
  border: 1px solid #FF8A22;
  border-radius: 15px;
}
#sideNav li ul li a:hover {
  color: #FF8A22;
}


#sideNav li ul li a code {
  margin-right: 10px;
}

#sideNav li ul li a code:hover {
  color: #fff;
  background-color: #52218A;
  border: 1px solid #FF8A22;
  border-radius: 15px;
}
#sideNav li ul li a code:active {
  color: #52218A;
  background-color: #FF8A22;
  border: 1px solid #52218A;
  border-radius: 15px;
}



#docsMain {
  padding-top: 27px;
}

#lib {
  margin-top: 5px;
  color: #9d2635;
}


.fa-link {
  position: relative;
  padding-right: 30px;
  text-shadow: 0 0 0.2em #FF8A22, 0 0 0.2em #FF8A22;
  font-size: 6px;
}

#faLink {
  color: #52218A;
  font-size: 25px;
}
#faLink:hover {
  color: #FF8A22;
  text-shadow: 0 0 0.2em #9d2635, 0 0 0.2em #9d2635;
}



/*-----------------------Assignable Classes------------*/

.inline {
  display: inline;
}

.colorp {
  color: #cda6ec;
}
.colory {
  color: #FF8A22;
}
.colorr {
  color: #9d2635;
}
.colordp {
  color: #39175E;
}

.javascript {
  background-color: white;
  border-radius: 5px;
  font-family: bpmono;
  /*padding-top: 0px;*/
  /*padding-bottom: 0px;*/
}

.t-pad {
  margin-top: : 5px;
  padding-top: : 5px;
}

.b-pad {
  margin-bottom: 5px;
  padding-bottom: 5px;
}
._t-pad {
  margin-top: 0px;
  padding-top: 0px;
}

._b-pad {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
._t-marg {
  margin-top: 0px;
}

.hot {
  border-right: 3px solid #9d2635;
  padding-right: 5px;
  font-weight: 500;
}

.hot2 {
  border-right: 1px solid #9d2635;
  padding-right: 3px;
}

.hide {
  display: none;
}

.anchors {
  padding-top: 0px;
  padding-bottom: 0px;
}
