/*@import url(https://fonts.googleapis.com/css?family=Ubuntu:700|Poiret+One|Exo+2:900|Quicksand:700|Maven+Pro:900|Orbitron:500|Rubik:500|Economica:700|Philosopher:700|Permanent+Marker|Rock+Salt|Jura:600|Voltaire|Special+Elite|Gochi+Hand|Just+Another+Hand|Homemade+Apple|Homenaje|Nixie+One|Fredericka+the+Great|Cabin+Sketch:700|Chelsea+Market|Monoton|Baumans|Prosto+One|Happy+Monkey|Aladin|NTR|Ruslan+Display|Amarante|Raleway+Dots|Henny+Penny|Monofett|Sonsie+One|Mystery+Quest|Akronim|Londrina+Shadow|Warnes|Londrina+Sketch|Atomic+Age|Original+Surfer|Fascinate|Modak);
@import url(https://fonts.googleapis.com/css?family=Poiret+One|Cabin:500|Josefin+Sans:600|Righteous|Comfortaa:700|Gloria+Hallelujah|Source+Code+Pro:500|Satisfy|Covered+By+Your+Grace|Audiowide|Viga|Boogaloo|Damion|Coda|Doppio+One|Nothing+You+Could+Do|Limelight|Sacramento|Montserrat+Alternates|Annie+Use+Your+Telescope|Aclonica|Lemon|Berkshire+Swash|Carter+One|Yesteryear|Timmana|Sue+Ellen+Francisco|Capriola|Baumans|Prosto+One|Skranji|Oleo+Script+Swash+Caps|Rationale|Balthazar|Seaweed+Script|Life+Savers|Griffy|Sail|Kristi|Maiden+Orange|Codystar|Galindo|Tulpen+One|Jolly+Lodger|Krona+One|Ribeye|Ranchers|Rum+Raisin|Fascinate+Inline|Molle:400italic|Spirax);*/
/*
Fonts I like for the logo.

baumans, righteous, kristi, tulpen one, ranchers, molle, fascinate,
josefin sans, comfortaa, satisfy, covered by your grace, audiowide, damion,
nothing you could do, montserrat alternates, annie use your telescope,
aclonica, berkshire swash, sue ellen francisco, life savers, galindo,

molle, fascinate, damion, montserrat alternates, aclonica, sue ellen francisco, galindo,

baumans, righteous, kristi, tulpen one, ranchers, josefin sans, comfortaa,
audiowide, nothing you could do, annie use your telescope, berkshire swash,
life savers, ribeye;

audiowide, baumans, righteous, tulpen one, ranchers, josefin sans, comfortaa,
nothing you could do, annie use your telescope, berkshire swash, life savers,

kristi,
*/


/*--------------------------Tag Stylings----------------- */


svg {
  max-height: 80px;
  max-width: 880px;
}

path {
  position: absolute;
  left: 0;
}

a {
  padding-top: 25px;
  padding-bottom: 25px;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
  /*background-color: #cda6ec;*/
}

h2, h1 {
  font-family: helvetica neue;
  font-weight: 500;
  color: #52218A;
}

h4, h3 {
  font-family: helvetica neue;
  font-weight: 500;
  color: #52218A;
}

p, ul {
  font-family: helvetica neue;
  font-weight: 300;
  color: #52218A;
}

ul {
  list-style: none;
  text-align: right;
}

ul > li > a {
  padding: 0;
}

code {
  font-family: bpmono;
  border-radius: 5px;
}


#docsMenu-container h2 code {
  background-color: #52218A;
  color: #FF8A22;
  border-radius: 25px;
  font-weight: 100;
  padding: 7px 15px 7px 15px;
}
#sideNav code {
  color: #52218A;
  background-color: #fff;
  border: 1px solid #FF8A22;
  border-radius: 15px;
}

#docsMain h1 {
  background-color: #39175E;
  color: #FF8A22;
  padding: 15px 20px 15px 10px;
  width: 100%;
  margin-bottom: 0px;
  border: 1px solid #FF8A22;
  text-shadow: 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

pre  {
  background-color: black;
}




/*--------------------------NavBar Styles--------------------*/

#navbar {
  background-color: #52218A;
  border: none;
}
#navbar2 {
  position: absolute;
  right: 60px;
  background-color: #52218A;

}
#navbar3 {
  background-color: #52218A;
  width: 1000px;
}

#nav-menu > li > a {
  color: #FF8A22;
}

#nav-menu > li > a:hover,
#nav-menu > li > a:focus {
  color: #ffc960;
}


.dropdown-menu > li > a {
  color: #FF8A22;
}

.dropdown-menu > li > a:hover {
  color: #52218A;
  background-color: #FF8A22;
}

#dropd {
  color: #FF8A22;
}

#dropd:focus,
#dropd:hover {
  color: #ffc960;
}
#dropd:active,
#dropd:focus {
  background-color: #39175E;
}


/*----NavBar Logo Styles -----*/


#logo-text {
  font-family: helvetica neue;
  font-size: 78px;
  color: #FF8A22;
  text-align: center;
  text-shadow: 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A;
}

#r-brack {
  position: relative;
  color: #9d2635;
  top: -7px;
  left: -45px;
  font-weight: bold;

}
#l-brack {
  position: relative;
  color: #9d2635;
  top: -7px;
  right: -18px;
  font-weight: bold;
}
.slsh {
  position: relative;
  color: #9d2635;
  left: -25px;
  font-weight: bold;
}



/*----------------------Jumbotron-------------------------*/

.jumbotron {
  top: 0;
  background-color: #39175E;
  margin-bottom: 0px;
}

#desc {
  font-family: helvetica neue
  font-weight: 200;
  color: #FF8A22;
}

.btn {
  font-family: helvetica neue;
  font-weight: 200;
  background-color: #52218A;
  color: #FF8A22;
  border: none;
}
.btn:hover {
  background-color: #FF8A22;
  color: #52218A;
  border: none;
}
.btn:active {
  background-color: #fff;
  color: #52218A;
  box-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff;

}

#fork {
  position: absolute;
  left: 0;
  top: 70px;
}

#hide {
  display: none;
}

iframe {
  padding-right: 5px;
  float: right;

}
#gthbFollow {
  vertical-align: middle;
}
.gthbBtn {
  border: 1px solid #FF8A22;
  border-radius: 7px;
  display: inline-block;
  padding: 5px 10px 9px 9px;
  /*margin-top: 50px;*/
  margin-right: 20px;
  float: right;
}

.gthbBtn:hover > #starSVG {
  fill: #52218A;
}
.gthbBtn:hover > #followSVG {
  fill: #52218A;
}
.gthbBtn:hover > #watchSVG {
  fill: #52218A;
}
/*.gthbBtn:active > #starSVG {
  fill: #52218A;
  background-color: #fff;
  box-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff;

}
.gthbBtn:active > #followSVG {
  fill: #52218A;
  background-color: #fff;
  box-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff;



}
.gthbBtn:active > #watchSVG {
  fill: #52218A;
  background-color: #fff;
  box-shadow: 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff;
*/




#followSVG {
  position: relative;
  height: 22px;
  width: 22px;
  top: 4px;
  fill: #FF8A22;;
}

#watchSVG {
  position: relative;
  height: 22px;
  width: 22px;
  top: 4px;
  fill: #FF8A22;;
}

#starSVG {
  position: relative;
  height: 22px;
  width: 22px;
  top: 4px;
  fill: #FF8A22;


}

/*----Jumbotron Main Logo----*/

#nav-logo {
  position: absolute;;
  top: 5px;
  left: 30px;
  height: 60px;
  width: 60px;
  border: 3px solid #39175E;
  border-radius: 7px;
  font-family: ;
  font-size: 32px;
  text-align: center;
  color: #39175E;
}
#el-txt {
  position: absolute;
  top: 14px;
  left: 13px;
}
#nav-logo-ptxt {
  position: absolute;
  bottom: -8px;
  left: 6px;
  font-size: 9px;
  font-weight: 200;
  text-align: center;
  color: #FF8A22;
}
#nav-logo-hsh {
  position: absolute;
  top: -3px;
  left: 4px;
  font-size: 14px;
  color: #cda6ec;
}
#nav-logo-px {
  position: absolute;
  bottom: -16px;
  left: 3px;
  font-size: 6px;
  color: #cda6ec;
}



/*----------------------npm -----------------------------*/

#npm-bar {
  padding-top: 35px;
  padding-bottom: 35px;
  right: 0;
  left: 0;
  background-color: #FF8A22;
  overflow: hidden;
  display: none;
}

#npm-code {
  display: inline;
  padding: 15px 70px 15px 10px;
  color: #FF8A22;
  /*width: 80px;*/
  background-color: #39175E;
  font-family: BPmono, monaco, osaka;
  box-shadow: 0 0 0.1em #9d2635, 0 0 0.1em #9d2635, 0 0 0.1em #9d2635, 0 0 0.1em #9d2635;
}

#_npm {
  color: #fff;
}

#elementsJS {
  color: #9d2635;
  text-shadow: 0 0 0.03em #FF8A22;
}

/*-----------------------Articles-------------------------*/

#npm {
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  bottom: 30px;
}

#install-info {
  /*position: relative;*/
  top: -10px;
  margin-top: 0px;
}
#install-info:active {
  background-color: #39175E;
  color: #FF8A22;
}

#bower {
  position: relative;

}
#nodejs {
  margin-right: 10px;
  margin-bottom: 0px;
}

#desc1 {
  margin-bottom: 0px;
}
#img {
  border-radius: 7px;
  margin-bottom: 10px;
}

#cdn-code {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
#cdn {
  /*background-color: #39175E;*/
  /*color: #52218A;*/
  left: 0;
  font-family: bpmono;
  padding-top: 0px;
  padding-bottom: 0px;

}

#preCode {
  background-color: #52218A;
  border-radius: 6px;
  /*padding-bottom: 10px;*/
}

#editor1 {
  /*position: absolute;*/
  height: 160px;
  width: 280px;
  border-radius: 7px;
  font-family: bpmono, source code pro, hack, monaco;
  margin-bottom: 5px;
}

/*-----------------------Documentation--------------------*/

.stick {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: sticky;
  top: 20px;
}

.wrapper {
  width: 100%;
  top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 200px;
}

#docsMenu-container li {
  color: #52218A;
}

#sideNav a  {
  color: #52218A;

}

#sideNav {
  padding-top: 55px;

}

#docsMain {
  padding-top: 27px;
}

#lib {
  margin-top: 5px;
}

#get-started {
  color: #9d2635;
}


/*-----------------------Media Queries--------------------*/

@media screen and (max-width: 738px) {
  #logo-text {
    font-size: 40px;
  }
  #l-brack {
    top: -4px;
    right: -10px;
  }
  #r-brack {
    top: -4px;
    left: -25px;
  }
  .slsh {
    left: -15px;
  }
}

@media screen and (max-width: 520px) {
  #fork {
    display: none;
  }
  .jumbotron {
    right: 0;
  }
}

@media screen and (max-width: 360px) {
  #logo-text {
    font-size: 32px;
  }
  #desc {
    font-size: 18px;
  }
  #l-brack {
    top: -4px;
    right: -7px;
  }
  #r-brack {
    top: -4px;
    left: -17px;
  }
  .slsh {
    left: -10px;
  }

  #fork {
    display: none;
  }
}

@media screen and (max-width: 240px) {
  #logo-text {
    font-size: 24px;

  }
  #l-brack {
    top: -2px;
    right: -5px;
  }
  #r-brack {
    top: -2px;
    left: -13px;
  }
  .slsh {
    left: -8px;
  }
  #desc {
    font-size: 16px;
  }
}

@media screen and (max-width: 240px) {
  #logo-text {
    font-size: 20px;
  }
  #desc {
    font-size: 12px;
  }
}

/*-----------------------Assignable Classes------------*/

.inline {
  display: inline;
}

.colorp {
  color: #52218A;
}
.colory {
  color: #FF8A22;
}
.colorr {
  color: #9d2635;
}
.colordp {
  color: #39175E;
}

.javascript {
  background-color: white;
  border-radius: 5px;
  font-family: bpmono;
  /*padding-top: 0px;*/
  /*padding-bottom: 0px;*/
}

.t-pad {
  margin-top: : 5px;
  padding-top: : 5px;
}

.b-pad {
  margin-bottom: 5px;
  padding-bottom: 5px;
}
._t-pad {
  margin-top: 0px;
  padding-top: 0px;
}

._b-pad {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
._t-marg {
  margin-top: 0px;
}

.hot {
  border-right: 3px solid #52218A;
  padding-right: 3px;
}

.hide {
  display: none;
}

#get-started {
  color: #9d2635;
}
