@import url(https://fonts.googleapis.com/css?family=Ubuntu:700|Poiret+One|Exo+2:900|Quicksand:700|Maven+Pro:900|Orbitron:500|Rubik:500|Economica:700|Philosopher:700|Permanent+Marker|Rock+Salt|Jura:600|Voltaire|Special+Elite|Gochi+Hand|Just+Another+Hand|Homemade+Apple|Homenaje|Nixie+One|Fredericka+the+Great|Cabin+Sketch:700|Chelsea+Market|Monoton|Baumans|Prosto+One|Happy+Monkey|Aladin|NTR|Ruslan+Display|Amarante|Raleway+Dots|Henny+Penny|Monofett|Sonsie+One|Mystery+Quest|Akronim|Londrina+Shadow|Warnes|Londrina+Sketch|Atomic+Age|Original+Surfer|Fascinate|Modak);
@import url(https://fonts.googleapis.com/css?family=Poiret+One|Cabin:500|Josefin+Sans:600|Righteous|Comfortaa:700|Gloria+Hallelujah|Source+Code+Pro:500|Satisfy|Covered+By+Your+Grace|Audiowide|Viga|Boogaloo|Damion|Coda|Doppio+One|Nothing+You+Could+Do|Limelight|Sacramento|Montserrat+Alternates|Annie+Use+Your+Telescope|Aclonica|Lemon|Berkshire+Swash|Carter+One|Yesteryear|Timmana|Sue+Ellen+Francisco|Capriola|Baumans|Prosto+One|Skranji|Oleo+Script+Swash+Caps|Rationale|Balthazar|Seaweed+Script|Life+Savers|Griffy|Sail|Kristi|Maiden+Orange|Codystar|Galindo|Tulpen+One|Jolly+Lodger|Krona+One|Ribeye|Ranchers|Rum+Raisin|Fascinate+Inline|Molle:400italic|Spirax);
/*
Fonts I like for the logo.

baumans, righteous, kristi, tulpen one, ranchers, molle, fascinate,
josefin sans, comfortaa, satisfy, covered by your grace, audiowide, damion,
nothing you could do, montserrat alternates, annie use your telescope,
aclonica, berkshire swash, sue ellen francisco, life savers, galindo,

molle, fascinate, damion, montserrat alternates, aclonica, sue ellen francisco, galindo,

baumans, righteous, kristi, tulpen one, ranchers, josefin sans, comfortaa,
audiowide, nothing you could do, annie use your telescope, berkshire swash,
life savers, ribeye;

audiowide, baumans, righteous, tulpen one, ranchers, josefin sans, comfortaa,
nothing you could do, annie use your telescope, berkshire swash, life savers,

kristi,
*/


/*------------------------------- Logo Styles -----------*/
#fork {
  position: absolute;
  left: 0;
  top: 70px;
}

.dropdown-menu > li > a {
  color: #FF8A22;
}


#logo-text {
  font-family: helvetica neue;
  font-size: 78px;
  color: #FF8A22;
  text-align: center;
  text-shadow: 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A, 0 0 0.2em #52218A;
}

#r-brack {
  position: relative;
  color: #9d2635;
  top: -7px;
  left: -45px;
  font-weight: bold;

}
#l-brack {
  position: relative;
  color: #9d2635;
  top: -7px;
  right: -18px;
  font-weight: bold;
}
.slsh {
  position: relative;
  color: #9d2635;
  left: -25px;
  font-weight: bold;
}

@media screen and (max-width: 414px) {
  #logo-text {
    font-size: 10px;
  }
  #l-brack {
    top: -4px;
    left: 9px;
  }
  #r-brack {
    top: -4px;
    left: 45px;
  }
  .slsh {
    left: -15px;
  }

  #fork {
    display: none;
  }
}
@media screen and (max-width: 738px) {
  #logo-text {
    font-size: 40px;

  }
}



a {
  padding-top: 25px;
  padding-bottom: 25px;
}


#navbar {
  background-color: #52218A;
  height: 70px;
  border: none;
}
#navbar2 {
  position: relative;
  float: right;
  right: -60px;
  background-color: #52218A;
  height: 70px;
  width: 330px;
}
#navbar3 {
  background-color: #52218A;
  height: 70px;
  width: 1000px;
}


/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

h2 {
  font-family: helvetica neue;
  font-weight: 500;
  color: #52218A;
}

p {
  font-family: helvetica neue;
  font-weight: 300;
  color: #52218A;
}
#dropd {
  background-color:
}

#nav-logo {
  position: absolute;;
  top: 5px;
  left: 30px;
  height: 60px;
  width: 60px;
  border: 3px solid #39175E;
  border-radius: 7px;
  font-family: ;
  font-size: 32px;
  text-align: center;
  color: #39175E;
}
#nav-logo-ptxt {
  position: absolute;
  bottom: -3px;
  left: 6px;
  font-size: 9px;
  font-weight: 200;
  text-align: center;
  color: #FF8A22;
}
#nav-logo-hsh {
  position: absolute;
  top: -3px;
  left: 4px;
  font-size: 14px;
  color: #cda6ec;
}
#nav-logo-px {
  position: absolute;
  bottom: -10px;
  left: 2px;
  font-size: 6px;
  color: #cda6ec;
}

/*#logo {
  position: absolute;;
  z-index: 9999;
  height: 135px;
  width: 851px;
  vertical-align: middle;
  float: right;
  display: none;

}*/



#desc {
  font-family: helvetica neue
  font-weight: 200;
  color: #FF8A22;
}

/*#api-butn {
  background-color: #FF8A22;
  color: #52218A;
  border: none;
}*/
/*#api-butn:hover {
  background-color: #52218A;
  color: #FF8A22;
}*/

.jumbotron {
  background-color: #39175E;
}

.btn {
  font-family: helvetica neue;
  font-weight: 200;
  background-color: #52218A;
  color: #FF8A22;
  border: none;
}
.btn:hover {
  background-color: #FF8A22;
  color: #52218A;
  border: none;
}
